<a href="https://colab.research.google.com/github/its-noob-me/bookRecommenderSystem2/blob/master/Book_Recommender_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing libraries
import numpy as np
import pandas as pd

In [ ]:
#reading the csv files
books = pd.read_csv('/content/Books.csv')

In [ ]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [ ]:
ratings = pd.read_csv('/content/Ratings.csv')

In [ ]:
users = pd.read_csv('/content/Users.csv')

In [ ]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(55042, 8)
(753374, 3)
(278858, 3)

In [ ]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    1
Publisher              1
Image-URL-S            1
Image-URL-M            1
Image-URL-L            1
dtype: int64

In [ ]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    1
dtype: int64

In [ ]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [ ]:
print(books.duplicated().sum())
print(ratings.duplicated().sum())
print(users.duplicated().sum())

0
0
0

Building popularity based recommendation system

Here we will take top 80 books which have their avg rating good which have atleast 200 no of ratings

In [ ]:
#merge ratings and books on top of isbn because it is in both files
ratings_with_name = ratings.merge(books,on='ISBN')

In [ ]:
ratings_with_name.shape

(405467, 10)

In [ ]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                              Book-Title  num_ratings
0       A Light in the Storm: The Civil War Diary of ...            4
1       Beyond IBM: Leadership Marketing and Finance ...            1
2       Earth Prayers From around the World: 365 Pray...            5
3       Final Fantasy Anthology: Official Strategy Gu...            4
4                                           It Takes Two            2
...                                                  ...          ...
49831                   Â¿QuiÃ©n se ha llevado mi queso?            1
49832                           Â¿QuÃ© me quieres, amor?            6
49833                              Ã?Â?ber die Freiheit.            1
49834                                     Ã?Â?bermorgen.            1
49835                                  Ã?Â?thique en toc            2

[49836 rows x 2 columns]

In [ ]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_ratings'},inplace=True)
avg_rating_df

                                              Book-Title  avg_ratings
0       A Light in the Storm: The Civil War Diary of ...         2.25
1       Beyond IBM: Leadership Marketing and Finance ...         0.00
2       Earth Prayers From around the World: 365 Pray...         6.60
3       Final Fantasy Anthology: Official Strategy Gu...         5.00
4                                           It Takes Two         0.00
...                                                  ...          ...
49831                   Â¿QuiÃ©n se ha llevado mi queso?         7.00
49832                           Â¿QuÃ© me quieres, amor?         2.00
49833                              Ã?Â?ber die Freiheit.         7.00
49834                                     Ã?Â?bermorgen.         0.00
49835                                  Ã?Â?thique en toc         4.00

[49836 rows x 2 columns]

In [ ]:
avg_rating_df.describe()

        avg_ratings
count  49836.000000
mean       3.003606
std        2.819430
min        0.000000
25%        0.000000
50%        2.600000
75%        4.666667
max       10.000000

In [ ]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.25
1,Beyond IBM: Leadership Marketing and Finance ...,1,0.00
2,Earth Prayers From around the World: 365 Pray...,5,6.60
3,Final Fantasy Anthology: Official Strategy Gu...,4,5.00
4,It Takes Two,2,0.00
...,...,...,...
49831,Â¿QuiÃ©n se ha llevado mi queso?,1,7.00
49832,"Â¿QuÃ© me quieres, amor?",6,2.00
49833,Ã?Â?ber die Freiheit.,1,7.00
49834,Ã?Â?bermorgen.,1,0.00
49835,Ã?Â?thique en toc,2,4.00

In [ ]:
popular_df['num_ratings'].describe()

count    49836.000000
mean         8.136026
std         22.809573
min          1.000000
25%          1.000000
50%          3.000000
75%          7.000000
max       1628.000000
Name: num_ratings, dtype: float64

In [ ]:
popular_df = popular_df[popular_df['num_ratings']>=200].sort_values('avg_ratings',ascending = False).head(85)

In [ ]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_ratings','Year-Of-Publication']]

In [ ]:
popular_df

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_ratings,Year-Of-Publication
0,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,234,5.837607,2000.0
2,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,210,5.733333,2003.0
3,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,273,5.641026,1999.0
5,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,377,5.169761,2000.0
8,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,374,5.032086,1999.0
...,...,...,...,...,...,...
191,A Time to Kill,JOHN GRISHAM,http://images.amazon.com/images/P/0440211727.0...,325,3.095385,1992.0
193,The Last Time They Met : A Novel,Anita Shreve,http://images.amazon.com/images/P/0316781266.0...,215,3.083721,2002.0
195,STONES FROM THE RIVER,Ursula Hegi,http://images.amazon.com/images/P/0684844729.0...,234,3.081197,1997.0
197,The Alienist,Caleb Carr,http://images.amazon.com/images/P/0553572997.0...,219,3.068493,1995.0
199,Message in a Bottle,Nicholas Sparks,http://images.amazon.com/images/P/0446523569.0...,310,3.048387,1998.0

Building Collaborative Filtering Based Recommendation System

In [ ]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating']>200
users_who_rate = x[x].index

In [ ]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(users_who_rate)]

In [ ]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [ ]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [ ]:
final_ratings.drop_duplicates()
 #final-ratings contains the book which have been rated by 
 #more than 50 users and have been rated by thoseusers who have rated atleast 200 books

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
40,278418,0446520802,0.0,The Notebook,Nicholas Sparks,1996.0,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
42,3363,0446520802,0.0,The Notebook,Nicholas Sparks,1996.0,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
43,7158,0446520802,10.0,The Notebook,Nicholas Sparks,1996.0,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
46,11676,0446520802,10.0,The Notebook,Nicholas Sparks,1996.0,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
51,23768,0446520802,6.0,The Notebook,Nicholas Sparks,1996.0,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
399684,28591,0821763776,0.0,Whispers,Lisa Jackson,1999.0,Zebra Books,http://images.amazon.com/images/P/0821763776.0...,http://images.amazon.com/images/P/0821763776.0...,http://images.amazon.com/images/P/0821763776.0...
401313,35859,0375701524,0.0,The Hundred Secret Senses,Amy Tan,1998.0,Vintage Books USA,http://images.amazon.com/images/P/0375701524.0...,http://images.amazon.com/images/P/0375701524.0...,http://images.amazon.com/images/P/0375701524.0...
401320,165308,0375701524,0.0,The Hundred Secret Senses,Amy Tan,1998.0,Vintage Books USA,http://images.amazon.com/images/P/0375701524.0...,http://images.amazon.com/images/P/0375701524.0...,http://images.amazon.com/images/P/0375701524.0...
401321,173415,0375701524,0.0,The Hundred Secret Senses,Amy Tan,1998.0,Vintage Books USA,http://images.amazon.com/images/P/0375701524.0...,http://images.amazon.com/images/P/0375701524.0...,http://images.amazon.com/images/P/0375701524.0...
404976,100906,1841953237,0.0,The Crimson Petal and the White,Michel Faber,2002.0,Canongate Books Ltd,http://images.amazon.com/images/P/1841953237.0...,http://images.amazon.com/images/P/1841953237.0...,http://images.amazon.com/images/P/1841953237.0...

In [ ]:
pt = final_ratings.pivot_table(index = 'Book-Title', columns = 'User-ID', values = 'Book-Rating')

In [ ]:
pt.fillna(0,inplace = True)

In [ ]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,177072,177090,177458,178667,179733,180651,181176,182085,277427,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,7.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Map of the World,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Whispers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
White Oleander : A Novel,0.0,0.0,0.0,7.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
White Oleander : A Novel (Oprah's Book Club),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wicked: The Life and Times of the Wicked Witch of the West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wild Animus,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_scores = cosine_similarity(pt)

In [ ]:
similarity_scores[0]   #showing the score of 1st book with other books, in terms of eucledian distance

array([1.        , 0.22704838, 0.17430453, 0.17004334, 0.152628  ,
       0.06654898, 0.17052721, 0.07034266, 0.22628446, 0.        ,
       0.05772122, 0.3543136 , 0.11933723, 0.15711818, 0.08588576,
       0.24875391, 0.15380088, 0.1261442 , 0.16188252, 0.02797313,
       0.13223769, 0.15514341, 0.15023797, 0.23171516, 0.19608681,
       0.31432448, 0.08577732, 0.12019753, 0.0684366 , 0.21299659,
       0.24873803, 0.17759029, 0.18790741, 0.16304299, 0.20147365,
       0.23350839, 0.25208179, 0.11227805, 0.        , 0.2065978 ,
       0.10739743, 0.15962659, 0.12005904, 0.19148742, 0.09089337,
       0.14613435, 0.23124092, 0.2075136 , 0.3428423 , 0.10882633,
       0.20337586, 0.08283359, 0.16026661, 0.07537884, 0.1475484 ,
       0.04150705, 0.15437517, 0.19500532, 0.25210696, 0.19559172,
       0.32536046, 0.12779122, 0.06085265, 0.17060671, 0.06266174,
       0.07543091, 0.17370926, 0.15143716, 0.0824508 , 0.1704894 ,
       0.05904827, 0.23367695, 0.41738706, 0.09545989, 0.20253105,
       0.16154633, 0.0787047 , 0.14481972, 0.12464182, 0.23349206,
       0.        , 0.14329475, 0.18712695, 0.13394289, 0.2714367 ,
       0.14007021, 0.10059706, 0.01908022, 0.28928376, 0.03725889,
       0.09924923, 0.07866077, 0.11001955, 0.25865294, 0.0492849 ,
       0.08033596, 0.26468079, 0.131282  , 0.05610369, 0.14354522,
       0.15463771, 0.1554761 , 0.11668553, 0.1441743 , 0.09484565,
       0.20287273, 0.02998706, 0.0760728 , 0.13324254, 0.16207202,
       0.15358474, 0.14481075, 0.14036507, 0.13301175, 0.16504624,
       0.        , 0.1390493 , 0.07858596, 0.07106593, 0.10378286,
       0.07727877, 0.19270795, 0.12890589, 0.17197679, 0.19532675,
       0.20727906, 0.03764701, 0.2361923 , 0.11580798, 0.13459039,
       0.14147259, 0.17688548, 0.06030472, 0.25350349, 0.16662681,
       0.18107663, 0.20887947, 0.27539379, 0.1456375 , 0.22871031,
       0.14380677, 0.24421931, 0.13845054, 0.12288713, 0.05864482,
       0.07638218, 0.35613115, 0.16995696, 0.06445648, 0.10596224,
       0.28402579, 0.1793981 , 0.32939563, 0.08408008, 0.09080081,
       0.        , 0.15372862, 0.18498375, 0.07579852, 0.21291838,
       0.15517978, 0.13013359, 0.1444519 , 0.0825766 ])

In [ ]:
similarity_scores.shape

(164, 164)

In [ ]:
# defining a function which will show 6 books on giving one name
def recommend(book_name):
  #index fetch
  index = np.where(pt.index==book_name)[0][0]
  similar_items = sorted(list(enumerate(similarity_scores[index])),key = lambda x:x[1], reverse = True)[1:7]
  
  data = []
  for i in similar_items:
    item = []
    temp_df = books[books['Book-Title']==pt.index[i[0]]]
    item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
    item.extend((temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
    item.extend((temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
    
    data.append(item)

  return data

In [ ]:
recommend('A Map of the World')

[['Tara Road',
  'Maeve Binchy',
  'http://images.amazon.com/images/P/0440235596.01.MZZZZZZZ.jpg'],
 ['Wicked: The Life and Times of the Wicked Witch of the West',
  'Gregory Maguire',
  'http://images.amazon.com/images/P/0060987103.01.MZZZZZZZ.jpg'],
 ['The Rescue',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446610399.01.MZZZZZZZ.jpg'],
 ['House of Sand and Fog',
  'Andre Dubus III',
  'http://images.amazon.com/images/P/0375727345.01.MZZZZZZZ.jpg'],
 ['A Walk to Remember',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446608955.01.MZZZZZZZ.jpg'],
 ['Two for the Dough',
  'Janet Evanovich',
  'http://images.amazon.com/images/P/0671001795.01.MZZZZZZZ.jpg']]

In [ ]:
#extracting popular df
import pickle
pickle.dump(popular_df,open('populr.pkl','wb'))

In [ ]:
popular_df['Image-URL-M'][0]

'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg'

In [ ]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))